{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center p-4 mt-5">
  <div class="flex flex-col max-w-7xl w-full md:w-[70%]">
    <div class="flex flex-col lg:flex-row ">
      <div
        class="bg-white shadow-md shadow-inner rounded-xl flex items-start h-32 w-[90%] lg:w-1/2 justify-center py-4 px-8 mx-4 my-2">
        <div class="flex items-center justify-start w-full">
          <div class="flex-col w-[85%]">
            <div class="text-sm font-medium text-yellow-600 my-2">BTC Balance</div>
            <div class="class flex items-center">
              <div class="text-3xl font-bold text-gray-700">{{user.wallet_btc|floatformat:2}}</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-white shadow-md shadow-inner rounded-xl flex items-start h-32 w-[90%] lg:w-1/2 justify-center py-4 px-8 mx-4 my-2">
        <div class="flex items-center justify-start w-full">
          <div class="flex-col w-[85%]">
            <div class="text-sm font-medium text-yellow-600 my-2">BTC Price</div>
            <div class="class flex items-center">
              <div class="text-3xl font-bold text-gray-700">{{btc_price|floatformat:2}}</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-white shadow-md shadow-inner rounded-xl flex items-start h-32 w-[90%] lg:w-1/2 justify-center py-4 px-8 mx-4 my-2">
        <div class="flex items-center justify-start w-full">
          <div class="flex-col w-[85%]">
            <div class="text-sm font-medium text-yellow-600 my-2">USD Balance</div>
            <div class="class flex items-center">
              <div class="text-3xl font-bold text-gray-700">{{user.usd_balance|floatformat:2}}</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-white shadow-md shadow-inner rounded-xl flex items-start h-32 w-[90%] lg:w-1/2 justify-center py-4 px-8 mx-4 my-2">
        <div class="flex items-center justify-start w-full">
          <div class="flex-col w-[85%]">
            <div class="text-sm font-medium text-yellow-600 my-2">Profit/Loss</div>
            <div class="class flex items-center">
              <div class="text-3xl font-bold text-gray-700">{{user.profit|floatformat:2}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
      <div>
        <h1 class="text-4xl text-gray-800">Buy Order</h1>
      </div>
      <div>
        <a class="text-gray-500 hover:text-blue-500" href="{% url 'orders:order-report' 'Buy' %}">
          Order report
        </a>
        <br>
        <a class="text-gray-500 hover:text-blue-500 lg:pr-4" href="{% url 'orders:order-create' %}">
          Create a new order
        </a>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    User
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Type
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Qty
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Price
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Date
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for order in buy_orders %}
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <a class="text-blue-500 hover:text-blue-800"
                      href="{% url 'profile:profile-detail' order.user.pk %}">{{ order.user.username }}</a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.order_type }}
                  </td>
                  {% if  order.order_status == 'Open'%}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">
                    {{ order.order_status }}
                  </td>
                  {% else %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
                    {{ order.order_status }}
                  </td>
                  {% endif %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.btc_amount|floatformat:2 }} BTC
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.order_price|floatformat:2 }} $
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.date_of_creation|date:"d-m-Y H:i" }}
                  </td>
                  {% if  order.order_status == 'Open'%}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="{% url 'orders:order-update' order.pk %}" class="text-yellow-600 hover:text-yellow-900">
                      Edit
                    </a>
                  </td>
                  {% else %}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="{% url 'orders:order-detail' order.pk %}" class="text-yellow-600 hover:text-yellow-900">
                      Detail
                    </a>
                  </td>
                  {% endif %}
                </tr>

                {% empty %}

                <p>There are currently no orders</p>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
      <div>
        <h1 class="text-4xl text-gray-800">Sell Order</h1>
      </div>
      <div>
        <a class="text-gray-500 hover:text-blue-500" href="{% url 'orders:order-report' 'Sell' %}">
          Order report
        </a>
        <br>
        <a class="text-gray-500 hover:text-blue-500 lg:pr-4" href="{% url 'orders:order-create' %}">
          Create a new order
        </a>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    User
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Type
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Qty
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Price
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Date
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for order in sell_orders %}
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <a class="text-blue-500 hover:text-blue-800"
                      href="{% url 'profile:profile-detail' order.user.pk %}">{{ order.user.username }}</a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.order_type }}
                  </td>
                  {% if  order.order_status == 'Open'%}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">
                    {{ order.order_status }}
                  </td>
                  {% else %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
                    {{ order.order_status }}
                  </td>
                  {% endif %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.btc_amount|floatformat:2 }} BTC
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.order_price|floatformat:2 }} $
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ order.date_of_creation|date:"d-m-Y H:i" }}
                  </td>
                  {% if  order.order_status == 'Open'%}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="{% url 'orders:order-update' order.pk %}" class="text-yellow-600 hover:text-yellow-900">
                      Edit
                    </a>
                  </td>
                  {% else %}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="{% url 'orders:order-detail' order.pk %}" class="text-yellow-600 hover:text-yellow-900">
                      Detail
                    </a>
                  </td>
                  {% endif %}
                </tr>

                {% empty %}
                <p>There are currently no orders</p>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
